* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.sideBar {
  width: 30vw;
  height: 100%;
  background-color: rgba(102, 95, 95, 0.678);
  padding-left: 0;
  margin: 0;
}
.sideBar li {
  list-style: none;
}
.sidebarHeading {
  font-size: 1.5em;
  padding-left: 5%;
}

.navItem {
  font-size: 1.5em;
  padding-left: 5%;
}

.navLink {
  text-decoration: none;
  color: rgba(226, 224, 219, 0.842);
}
.navLink span {
  font-size: 1.2em;
}
.logo-box {
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 100px;
  margin: auto;
}

.topBar {
  background-color: #ffc107;
  width: 70vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Last User*/
.lastUser {
  margin: 2%;
  padding: 1%;
  max-width: 500px;
  display: flex;
  box-shadow: 5px 5px 10px gray;
  flex-wrap: wrap;
  align-items: center;
}
.lastUser h3 {
  text-align: center;
  width: 100%;
}
.lastUser h5 {
  display: block;
  width: 50%;
}
.lastUser p {
  display: block;
  width: 50%;
}
.lastUser img {
  max-width: 150px;
}

/*Footer*/
.mainFooter {
  background-color: #8a817c;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.copyright {
  display: flex;
  text-align: center;
  padding: 1%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.copyright p {
  margin: 0;
  color: white;
}
